<div class=" aboutbgcolor  ">
	<h1 class="m-3  text-center p-2">Our Story</h1>
	<p > <h4 class="text-center m-1 p-3">Our organisation strives to eliminate classroom hunger by implementing the Mid-Day Meal 
		Scheme in the government schools and government-aided schools. Alongside, Akshaya Patra 
		also aims at countering malnutrition and supporting the right to education of socio-economically 
		disadvantaged children.</h4></p>
</div>

<div class="aboutbgcolor2 bg-primary">
	<h1 class="text-center">Our Team</h1>
	<p><h4 class="text-centre m-3 p-4">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the 
		industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and 
		scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the 
		industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and 
		scrambled it to make a type specimen book</h4></p>
</div>