<div class="missionpagediv1">
	<h1 class="text-center m-2"> <strong>Our Objectives</strong> </h1>
	<img src="/assets/images/img-4.jpg" width="1000" height="450" class="pr-3 mr-2" alt="food donate">
<ul>
	<li class="p-2">To address the problem of Malnutrition in children under the age of 5 years, improve the
		 nutrition intake of pregnant women and lactating mothers.</li>
		 <li>To improve food security at the household and aggregate levels to guarantee that families have access to safe food
			 that is adequate (both in quantity and quality) to meet the nutritional requirements for a healthy and active life.</li>
			 <li class="p-2"> Promoting habits and activities that will reduce the level of malnutrition and improve the nutritional status of 
				our beneficiaries.</li>
</ul>
</div>